* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* BODY CSS */
.body {
  background: linear-gradient(90deg, rgba(0, 25, 36, 1) 0%, rgba(9, 119, 121, 1) 0%, rgba(0, 212, 255, 1) 100%);
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  background: #E71D23;
  border-radius: 5px;
  border: 2px solid black;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, .5);
  padding: 10px;
  height: 580px;
  margin: 50px;
  width: 880px;
}

.container-border {
  display: flex;
  background: #E71D23;
  border: 2px solid black;
  border-radius: 5px;
  padding: 20px;
  width: 100%;
  height: 100%;
}

.left-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: #E71D23;
  border: 2px solid black;
  border-radius: 5px;
  padding: 0 25px 0 25px;
  height: 100%;
  width: 100%;
}

.middle-container {
  display: flex;
  flex-direction: column;
  background: #E71D23;
  height: 100%;
  ;
  width: 70px;
}

.right-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: #E71D23;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px 25px 10px 25px;
  height: 100%;
  width: 100%;
}

/* LEFT SIDE CSS */
.left-blue-sphere {
  flex-shrink: 1;
  background: radial-gradient(farthest-corner at 10px 10px, white, #369CD4, #369CD4);
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, .5);
  height: 35px;
  width: 35px;
}

.left-nav-bar {
  display: flex;
  flex-direction: row;
  background: #E71D23;
}

.top-section__small-buttons {
  align-self: flex-end;
  display: flex;
  margin: 0 25px;
  background: #E71D23;
}

.top-section__red,
.top-section__yellow,
.top-section__green {
  align-self: flex-end;
  border-radius: 50%;
  border: 1px solid black;
  height: 10px;
  margin-right: 5px;
  width: 10px;
}

.left-top-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  background: #ace600;
  border: 2px solid black;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, .4);
  padding: 20px;
  max-height: 30px;
}

.pokemon-name,
.pokemon-number {
  background: #ace600;
  font-weight: bold;
}

.left-screen-wrapper {
  display: flex;
  background: #DEDEDE;
  border: 2px solid black;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, .4);
  padding: 20px;
  height: 300px;
  width: 100%;
}

.left-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border: 12px solid black;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, .4);
  width: 100%;
  height: 100%;
}

.poke-image,
.poke-image-back {
  height: 126px;
  width: 126px;
  background: white;
}

.left-game-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: #E71D23;
  height: 50px;
  width: 100%;
}

.left-ab-buttons {
  height: 50px;
  width: 50px;
}

.buttons__button {
  align-items: center;
  background: black;
  border-radius: 50%;
  border: 1px solid dimgrey;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, .3);
  color: rgba(255, 255, 255, .75);
  display: flex;
  height: 35px;
  justify-content: center;
  width: 35px;
}

.left-ab-buttons {
  display: flex;
  justify-content: space-around;
  background: #E71D23;
  width: 100px;
}

.buttons__button:first-child {
  margin-top: 5px;
}

.buttons__button:last-child {
  margin-top: -5px;
}

/* MIDDLE CSS */
.section-column {
  height: 50px;
  width: 100%;
  background: linear-gradient(to right, #7F100F, #E71D23, #E71D23, #7F100F);
  border: 2px solid black;
}

.column {
  height: 300px;
  width: 100%;
  background: linear-gradient(to right, #7F100F, #E71D23, #E71D23, #E71D23);
  border: 2px solid black;
}

/* RIGHT CSS */
.right-navbar {
  background: #E71D23;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.poke-types {
  background: #DEDEDE;
  border: 1px solid black;
  height: 100%;
  width: 50%;
}

.poke-stats {
  background: #E71D23;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid black;
  height: 100%;
  width: 50%;
  padding: 10px;
  box-shadow: inset 0 0 3px 3px rgba(0, 0, 0, .3);
}

.stat-type {
  background: #7F100F;
  color: white;
  text-shadow: 1px 1px 1px #CCCCCC;
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
  justify-content: center;
  box-shadow: inset 0 0 3px 3px rgba(0, 0, 0, .3);
}

.stat-title {
  background: #E71D23;
}

.weight-stat,
.height-stat,
.poke-form {
  background: #E71D23;
}

.first-type,
.second-type {
  border-radius: 25px;
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
}

.right-screen {
  display: flex;
  flex-wrap: wrap;
  background: white;
  padding: 5px;
  border: 2px solid black;
  height: 300px;
  width: 100%;
}

.list-item {
  color: black;
  cursor: pointer;
  font-size: 12px;
  height: 25px;
  overflow-x: hidden;
  width: 50%;
  background: white;
}

.list-item:hover {
  background: #85cbf2;
  color: black;
}

.list-item:active {
  background: #1280f2;
  color: white;
}

.list-item:active {
  background: #1280f2;
  color: white;
}

.right-game-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background: #E71D23;
  min-height: 90px;
}

.prev-button {
  align-items: center;
  background: #DEDEDE;
  border-radius: 3px;
  border: 2px solid black;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, .3);
  cursor: pointer;
  display: flex;
  font-weight: bold;
  height: 30px;
  justify-content: center;
  text-transform: uppercase;
  width: 100px;
}

.next-button {
  align-items: center;
  background: #DEDEDE;
  border-radius: 3px;
  border: 2px solid black;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, .3);
  cursor: pointer;
  display: flex;
  font-weight: bold;
  height: 30px;
  justify-content: center;
  text-transform: uppercase;
  width: 100px;
}

.prev-button:hover,
.next-button:hover {
  background: white;
}

/* POKEMON COLORS */
.hide {
  display: none;
}

.normal {
  background: #808080;
}

.fighting {
  background: #A75543;
}

.flying {
  background: #78A2FF;
}

.poison {
  background: #A95CA0;
}

.ground {
  background: #EECC55;
}

.rock {
  background: #CCBD72;
}

.bug {
  background: #C2D21E;
}

.ghost {
  background: #7975D7;
}

.steel {
  background: #C4C2DB;
}

.fire {
  background: #FA5643;
}

.water {
  background: #56ADFF;
}

.grass {
  background: #8CD750;
}

.electric {
  background: #FDE139;
}

.psychic {
  background: #FA65B4;
}

.ice {
  background: #96F1FF;
}

.dragon {
  background: #8673FF;
}

.dark {
  background: #8D6855;
}

.fairy {
  background: #F9AEFF;
}
